/* 
---------------------------------------------------------------------------------------------------------------------------
---------------------------------------  Index Problems   --------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------
*/

.tabla2pp {
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
	overflow: auto;
	height:320px;
	width: 628px;
}

.tabla2pp th {
	max-width: 200px;
	min-width: 200px;
	color: #fdfdfd;	
}


.tabla2pp td {
	max-width: 200px;
	min-width: 200px;
	color: #eaede9;
}

.tabla2pp a:link {
	color: #eaede9;
}

.tabla2pp a:visited {
	color: #eaede9;
}




/* 
---------------------------------------------------------------------------------------------------------------------------
---------------------------------------  Show Problems   ---------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------
*/

.f3ttp1 {
	margin-left:20px;
	width: 340px;
	margin-top: 5px;
	color: #6fcfcf;
	font-size: 17px;
}


.f3ttp2 {
	margin-left:50px;
	margin-top:25px;
}


.f3ttp3 {
	margin-left:20px;
	margin-top:30px;
	width: 340px;
	margin-top: 5px;
	color: #cacaca;
	font-size: 12px;
}

.f3ttp3 a:link{
	text-decoration: none;
	color: #cacaca;
}

.f3ttp3 a:visited {
	text-decoration: none;
	color: #cacaca;
}
