/* 
---------------------------------------------------------------------------------------------------------------------------
---------------------------------------  Index Problems   --------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------
*/





/* 
---------------------------------------------------------------------------------------------------------------------------
---------------------------------------  Show Problems   ---------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------
*/

.f3ttp1 {
	margin-left:20px;
	width: 340px;
	margin-top: 5px;
	color: #6fcfcf;
	font-size: 17px;
}


.f3ttp2 {
	margin-left:50px;
	margin-top:25px;
}


.f3ttp3 {
	margin-left:20px;
	margin-top:30px;
	width: 340px;
	margin-top: 5px;
	color: #cacaca;
	font-size: 12px;
}


