/* 
---------------------------------------------------------------------------------------------------------------------------
---------------------------------------  Index Problems   --------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------
*/





/* 
---------------------------------------------------------------------------------------------------------------------------
---------------------------------------  Show Problems   ---------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------
*/

.f3ttp {
	margin-left:5px;
	margin-top:5px;
	width: 356px;
	height: 338px;
	margin-top: 5px;
	color: #6fcfcf;
	font-size: 15px;
}


