<li>
  <%= gravatar_for user, :size => 20 %>
  <%= link_to user.name, user %>
  <% if signed_in? %>
	  <% if current_user.id==user.id || current_user.admin? %>
	  | <%= link_to "delete", user, :method => :delete, :confirm => @areyousure, :title => "Delete #{user.name}" %>
	  <% end %>
  <% end %>
</li>
