<%= form_for @post do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field6">
    <%= f.text_area :coment, :class => "post", :class => "redtexto1"%>
  </div>
  <div class="field7">
    <%= f.submit "Enviar", :class => "redtexto2" %>
  </div>
<% end %>

