<div class="mapa">
</div>
<div class="map">


<center><IFRAME marginWidth="0" marginHeight="0" BGCOLOR="red" src="http://minichat.irc-hispano.es/?canal=ajedrez" width="590" height="400" scrolling="no" frameborder="0"></IFRAME><br /><a href="http://www.irc-hispano.es/" target="_blank"><img src="http://www.irc-hispano.es/images/irc-hispano.jpg" alt="Chat" border="0"></a></center>



</div>
<div class="mapb">
</div>
