<div class="f11">
	<div class="f44a">
	</div>
	<div class="f444">
		<div class="home">
		</div>
	</div>
	<div class="f44b">
	</div>
</div>


<div class="f22a">
</div>
<div class="f22">
	<br />Welcome to ChessVision
</div>
<div class="f22b">
</div>
<div class="f33a">
</div>
<div class="f33">
		<div class="msg2">
			<div class="msg3">
				ChessVision is a web server Chess games. It can upload / download games in PGN format. The main 
				characteristic is to offer the possibility of up not only of famous players but any player 
				willing.<br /><br />

				ChessVision has a place for clubs, where you can register any club. In this space, shows a basic 
				information such as name, mail or place, a part where the club is putting news and events available 
				and board, where the club and users can discuss about any topic. To access certain parts of this 
				space, how the new or the board, users should be friends of the club. To do so send a friend 
				request and the club concerned will accept you or not.<br /><br />

				Also available a viewer for PGN games. Here you can view games in PGN seeing each movements. If the 
				file there are various items, you can select the desired. In addition you can also play a quick 
				game of chess against the machine, serve as training.
			</div>
		</div>
</div>
<div class="f22b">
</div>


