<div class="f11">
	<div class="f44a">
	</div>
	<div class="f444">
		<div class="home">
		</div>
	</div>
	<div class="f44b">
	</div>
</div>


<div class="f22a">
</div>
<div class="f22">
	<br />Bienvenido a ChessVision
</div>
<div class="f22b">
</div>
<div class="f33a">
</div>
<div class="f33">
		<div class="msg2">
			<div class="msg3">
				ChessVision es un servidor web de partidas de Ajedrez. Se podrá subir y/o descargar
				partidas en formato PGN.  La principal característica es ofrecer la posibilidad de
				subir partidas no solo de jugadores famosos sino de cualquier jugador dispuesto a ello.<br /><br />

				ChessVision dispone un lugar para clubs, donde se pueden registrar cualquier
				club. En este espacio se muestra una información básica sobre este, como el nombre,
				correo o lugar, una parte donde el club va poniendo noticias y eventos disponibles y un
				tablón donde tanto el club como los usuarios pueden discutir sobre algún tema. Para
				acceder a cierta partes de este espacio, como a las novedades o al tablón, los usuarios
				deben de ser amigos del club. Para ello envíen una solicitud de amistad, y el club en
				cuestión te aceptará o no.<br /><br />

				Además hay disponible  un visualizador de partidas PGN. Aquí podrás visualizar partidas en formato 
				PGN viendo paso a paso cada uno de los movimientos. Si en el fichero existen varias partidas, se 
				podrá seleccionar la deseada. Y también se podrás jugar una partida rápida de ajedrez contra la 
				máquina, para que sirva de entrenamiento.
			</div>
		</div>
</div>
<div class="f22b">
</div>
