<div class="pagmap">
	<div class="pagmap2">	
		<%= link_to "Jugar contra máquina", ia_path%>
	</div>
	<div class="pagmap2">	
		<%= link_to "Calcula tu ELO", elo_path%>
	</div>
	<div class="pagmap2a">	
		<%= link_to "Otros", man_path%>
	</div>
</div>

<div class="mapa">
</div>
<div class="map">

</div>
<div class="mapb">
</div>
