<footer>
	
<div class="foot1">
	<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png" /></a>
</div>

<div class="foot">
<div class="foot2">
	<span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dct:title" rel="dct:type">ChessVision</span> por <a xmlns:cc="http://creativecommons.org/ns#" href="http://gvcaporal.heroku.com" property="cc:attributionName" rel="cc:attributionURL">Alberto Bermúdez Puerta</a> se encuentra bajo una Licencia <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Atribución-NoComercial-CompartirIgual 3.0 Unported</a>. Basada en una obra en <a xmlns:dct="http://purl.org/dc/terms/" href="https://github.com/bermubermu/gvcaporal" rel="dct:source">github.com</a>.
</div>
</div>

</footer>


